body{
    background-color: blanchedalmond;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:2B4F69 ;
    padding: 20px;
    font-size: 20px;
    color:3B7476 ;

}
nav img{
    width: 150px;
}
a{
    text-decoration: none;
}
div{
    background-color: aqua;
}